.head {
	margin: 0 auto;
}

.list {
	max-width: 1440px;
	margin: 0 auto;
	display: grid;
	gap: 20rem;
	padding: 20rem 0 100rem 0;
	@media (min-width: 768px) {
		grid-template-columns: 1fr 1fr;
	}
}

.listItem {
	padding: 20rem;
	display: grid;
	gap: 20rem;
	background: var(--bg-light-2);
	align-content: flex-start;
}

.itemHead {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 20rem;
	align-items: center;
}

.video {
	max-width: 100%;
}

.rdo {
	max-width: 100px;
	max-height: 100px;
}
