html {
	font-family: var(--font-main);
	scroll-behavior: smooth;
	font-family: var(--font-main);
	font-size: 1px;
	@media (max-width: 374px) {
		font-size: 0.8px;
	}
	@media (min-width: 1440px) {
		font-size: 1.2px;
	}
	@media (min-width: 1920px) {
		font-size: 1.4px;
	}
}

html,
body {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr;
	background-color: var(--bg-light);
	font-size: 16rem;
}

.container {
	padding: 0 20rem;
	margin: 0 auto;
	@media (min-width: 990px) {
		padding: 0 40rem;
	}
}

.section {
	height: 100%;
	display: grid;
	justify-content: center;
	padding-top: 100rem;
}

.contentWrap {
	max-width: 800rem;
	display: grid;
	gap: 16rem;
}
