---
const { settings } = Astro.props;
import "./defaultStyles.css";
---

<slider-wrap settings={JSON.stringify(settings)}>
	<div class="slider-wrap">
		<slot />
	</div>
</slider-wrap>

<script>
	import { tns } from "tiny-slider";

	class SliderWrap extends HTMLElement {
		constructor() {
			super();
		}

		connectedCallback() {
			const settingsAttr = this.getAttribute("settings");
			if (settingsAttr) {
				const settings = JSON.parse(settingsAttr);
				const slider = tns({
					container: ".slider-wrap",
					...settings,
				});
			} else {
				console.error("Settings attribute is missing or null");
			}
		}
	}

	customElements.define("slider-wrap", SliderWrap);
</script>
